* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.abtdonate {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  align-items: center;
}

.aboutourparty {
  flex-direction: column;
  width: 22%;
  /* align-content: center; */
  /* padding: 0 50px; */
  justify-content: center;
  align-items: center;
  /* display: flex; */
  margin: auto;
}

.aboutourparty img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
  /* margin-left: -220px; */
}

.aboutourparty h4 {
  margin-bottom: 20px;
  /* margin-left: -200px; */
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: #121212;
}

.aboutourparty p:nth-of-type(2) {
  margin-bottom: 20px;
  /* width: 60%; */
  text-align: left;
  /* margin-left: -22px; */
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #121212;
}

.aboutourparty p:nth-of-type(1) {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgba(22, 29, 22, 0.5);
}

.aboutourparty button {
  width: 50%;
  text-align: center;
  padding: 7px;
  /* margin-left: -170px; */
}

.Ivoted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.Ivoted img {
  width: 40%;
  height: auto;
}

.ivotetexts {
  width: 50%;
}

.ivotetexts h2 {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  line-height: 71px;
  font-weight: 700;
  font-style: normal;
  /* margin: 0 0 50px 0; */
  color: #161d16;
}

.aboutourparty .learn {
  width: 60%;
  text-align: center;
  padding: 7px;
  color: rgba(248, 200, 36, 1);
  background-color: transparent;
  border: 2px solid rgba(248, 200, 36, 1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.aboutourparty .join {
  width: 60%;
  text-align: center;
  padding: 7px;
  color: rgba(234, 0, 40, 1);
  background-color: transparent;
  border: 2px solid rgba(234, 0, 40, 1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.aboutourparty .make {
  width: 60%;
  text-align: center;
  padding: 7px;
  color: rgba(0, 87, 8, 1);
  background-color: transparent;
  border: 2px solid rgba(0, 87, 8, 1);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.ivotetexts h1 {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  line-height: 82px;
  font-weight: 700;
  font-style: normal;
  /* margin-right: -185px; */
  /* padding: 0px 0px 0 20px; */
  margin-top: 70px;
  color: #161d16;
  /* width: 55%; */
}

h1 .pressy {
  color: transparent;
  -webkit-text-stroke: 1px #121212;
}

@media (max-width: 800px) and (min-width: 280px) {
  .abtdonate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 24px auto;
    align-items: center;
  }

  .aboutourparty {
    flex-direction: column;
    width: 90%;
    /* align-content: center; */
    /* padding: 0 50px; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0 auto 100px auto;
  }

  .aboutourparty button {
    width: 50%;
    text-align: center;
    padding: 7px;
    /* margin-left: -170px; */
  }

  .aboutourparty .learn {
    width: 60%;
    text-align: center;
    padding: 10px;
    color: rgba(248, 200, 36, 1);
    background-color: transparent;
    border: 2px solid rgba(248, 200, 36, 1);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
  }

  .aboutourparty .join {
    width: 60%;
    text-align: center;
    padding: 10px;
    color: rgba(234, 0, 40, 1);
    background-color: transparent;
    border: 2px solid rgba(234, 0, 40, 1);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
  }

  .aboutourparty .make {
    width: 60%;
    text-align: center;
    padding: 10px;
    color: rgba(0, 87, 8, 1);
    background-color: transparent;
    border: 2px solid rgba(0, 87, 8, 1);
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 20px;
  }

  .aboutourparty p:nth-of-type(2) {
    margin-bottom: 20px;
    /* width: 60%; */
    text-align: left;
    /* margin-left: -22px; */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #121212;
  }

  .ivotetexts {
    width: 100%;
    padding: 20px;
  }

  .Ivoted {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
  }

  .ivotetexts h2 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    line-height: 47px;
    text-align: left;
    /* width: 90%; */
    font-weight: 700;
    font-style: normal;
    /* margin: 0 0 50px 0; */
    color: #161d16;
  }

  .ivotetexts h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    line-height: 55px;
    font-weight: 700;
    font-style: normal;
    /* margin-right: -185px; */
    /* padding: 0px 0px 0 20px; */
    margin-top: 70px;
    color: #161d16;
    /* width: 55%; */
  }

  .Ivoted img {
    margin: auto;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .aboutourparty p:nth-of-type(2) {
    margin-bottom: 20px;
    width: 60%;
    text-align: left;
    /* margin-left: -22px; */
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    color: #121212;
  }

  .aboutourparty .learn {
    width: 40%;
  }

  .aboutourparty .make {
    width: 40%;
  }

  .aboutourparty .join {
    width: 40%;
  }

  .Ivoted img {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 350px) and (max-width: 600px) {
  .endsarstexts h3 {
    background-color: #161d16;
    text-align: left;
    color: white;
    padding: 11px;
    margin-top: 59px;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .aboutourparty {
    flex-direction: column;
    width: 40%;
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* padding: 0 50px; */
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 30px auto;
  }

  .abtdonate {
    display: flex;
    justify-content: center;
    margin: 100px auto;
    align-items: center;
    flex-wrap: wrap;
  }

  .ivotetexts h2 {
    font-family: "Poppins", sans-serif;
    font-size: 36px;
    line-height: 71px;
    font-weight: 700;
    font-style: normal;
    /* margin: 0 0 50px 0; */
    color: #161d16;
  }

  .ivotetexts h1 {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    line-height: 82px;
    font-weight: 700;
    font-style: normal;
    /* margin-right: -185px; */
    /* padding: 0px 0px 0 20px; */
    margin-top: 70px;
    color: #161d16;
    /* width: 55%; */
  }
}

@media (min-width: 1024px) and (max-width: 1050px) {
  .aboutourparty .learn {
    width: 85%;
  }

  .aboutourparty .make {
    width: 85%;
  }

  .aboutourparty .join {
    width: 85%;
  }
}

.story {
  font-size: 18px;
  font-family: Inter;
  color: #121212;
  line-height: 26px;
  margin-top: 20px;
  max-width: 90%;
}
.mm {
  margin-left: 0;
}

@media screen and (max-width: 800px) {
  .story {
    font-size: 16px;
    max-width: 100%;
  }
}
