*       {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header  {
    position: relative;
}

nav {
    /* background-color: red; */
    align-items: center;
    /* justify-content: center; */
    /* width: 100%;
    flex-direction: column; */
    display: flex;
    padding: 50px;
    
}


.nav-link:hover {
    transition: 1s ease-out;
    color: rgba(22, 29, 22, 1);
    background-color: white;
    padding: 16px;
    border-radius:3px;
}

nav img  {
    height: 80px;
    width: 80px;
}

.words {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

}

.icons button  {
    width: 100px;
    text-align: center;
    padding: 12px;
    background-color:#EA0028;
    border: 1px solid #EA0028;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.headbtn    {
    width: 255px;
    background-color:#EA0028;
    border: 1px solid #EA0028;
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;

}

 a     {
    padding: 10px;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 700;
    
}

.hamburger      {
    display: none;
     cursor: pointer;
     position: absolute;
     right: 0;
 }
 
 .bars    {
     display: block;
     width: 25px;
     height: 3.3px;
     margin: 5px auto;
     -webkit-transition: all 0.3s ease-in-out;
     transition: all 0.3s ease-in-out;
     background-color: white;
 }
 

.icons      {
    margin-right: 50px;
    position: absolute;
    right: 0;
    gap: 10px;
    /* display: flex; */
    cursor: pointer;

}

.heroimage  {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
}

.icons .fa     {
    justify-content: space-around;
    padding: 20px;
    font-size: 16px;
    -webkit-text-stroke: white 0.5px;
    color: transparent;
    
}



header h2      {
    margin: 45px auto 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    width: 75%;
    font-size: 96px;
    color: white;
    line-height: 145px;
   

}

header h4   {
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 35%;
    margin: auto;
    line-height: 35.42px;
}

h2 .change  {
    -webkit-text-stroke: white 3px;
    color: transparent;
}

@media (max-width:800px) and (min-width:350px)
{

    .hamburger      {
        display: block;
        margin-right: 15px;
        position: absolute;
        z-index: 1;
     }

     .hamburger.active .bars:nth-child(2){
         opacity: 0;
         /* position: absolute;
         z-index: 3; */
        
     }

     .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        /* position: absolute;
        z-index: 3; */
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        /* position: absolute;
        z-index: 2; */
    }

    .words  {
        position: fixed;
        right: 100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color:rgba(22, 29, 22, 1);
        width: 50%;
        text-align: center;
        transition: 0.3s;
        margin-left: 0em;
    }

    .words.active {

            left: 191px;
            height: 137px;
            margin-top: -4px;
            position: absolute;
            z-index: 1;
    }

    

    .nav-link   {
        text-align: left;
    }
   



    .heroimage  {
        position: absolute;
        width: 1487.13px;
        height: 928px;
        left: -547px;
        top: 0px;
        /* overflow:-moz-hidden-unscrollable; */
    }

    header  {
        overflow: hidden;
    }

    .icons .fa     {
       display: none;
        
    }

    header h2      {
        margin: 30px auto 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        /* width: 385px;
        height: 183px; */
        /* left: 21px;
        top: 211px;         */
        font-size: 48px;
        color: white;
        /* position: absolute; */
        line-height: 62px;
       
    
    }

    header h4   {
        font-size: 20px;
        color: white;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        width: 95%;
        margin: 20px auto;
        line-height: 35.42px;
    }

    .headbtn    {
        width: 255px;
        background-color:#EA0028;
        border: 1px solid #EA0028;
        color: white;
        font-family: 'Inter', sans-serif;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto 300px auto;
        padding: 14px;
        font-size: 16px;
        font-weight: 700;
    
    }
}
